.titletext {
    word-wrap: break-word !important;
    font-weight: bold !important;
    font-family: "Rubik" !important;
    font-size: 18px !important;
    display: flex !important;
    justify-content: space-between !important;
    padding: 10px !important;
}
.contenttxt {
	word-wrap: break-word;
}

.buttonDiv{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin: 10px;
}

.title{
    margin-bottom: 0 !important;
    color: #B100FF;
}

.contentText{
    margin-left: 10px !important;
}

.yesbtn {
    background: #B100FF !important;
    color: #fff !important;
    padding: 3px 20px !important;
    font-family: "Rubik" !important;
	font-size: 15px !important;
    border: 1.5px solid #B100FF !important;
    border-radius: 4px !important;
}
.nobtn {
    background: #fff !important;
    color: #B100FF !important;
    padding: 3px 20px !important;
    font-family: "Rubik" !important;
	font-size: 15px !important;
    border: 1.5px solid #B100FF !important;
    border-radius: 4px !important;
}
.closebtns{
    padding: 0 !important;
    color: #919191 !important;
    font-size: 24px !important;
    display: contents !important;
}
