.newuser {
  text-align: end;
  padding-top: 30px;
}

.newuser > p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #3f3f3f;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.Logodiv > h5 {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.Logodiv > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.form {
  width: 330px;
  margin: auto;
}

.forgot {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f3cf00;
  text-decoration: none;
  border: none !important;
  background: transparent;
  padding: 0 !important;
}

.forgot:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f3cf00 !important;
  text-decoration: none;
}

.forgot:focus-visible {
  outline: none !important;
}

.Formlabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}

.checkdiv > label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3f3f3f;
}

#InputEmail1,
#InputPassword1 {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;
}

.loginbtn {
  background: #f3cf00 !important;
  border-radius: 6px;
  padding: 10px !important;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  border: none !important;
  width: 100%;
  margin: 20px 0px;
}

.loginbtn:hover {
  color: #000;
}

.footers {
  width: 329px;
  margin: auto;
}

.iconposition {
  position: relative;
  width: 100%;
}

.icons {
  color: #858585;
  position: absolute;
  right: 13px;
  top: 52px;
  font-size: 20px;
}

.progress {
  height: 45px !important;
  width: 134px !important;
  border-radius: 0 !important;
  background-image: url("/src/assets/Images/Isolation.png") !important;
  background-repeat: no-repeat;
  overflow: hidden;
}

.progress-bar {
  color: white !important;
  background: linear-gradient(to right, rgb(133, 133, 133), black) !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  margin: 3px !important;
}

.form-check-input {
  border-radius: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #f3cf00 !important;
  border: none !important;
}

.recaptcha {
  transform: scale(0.77);
  -webkit-transform: scale(1.08);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

.maindiv {
  background: #fff !important;
}
.title {
  color: #f3cf00 !important;
}
.yesbtn {
  background: #f4da47 !important;
  color: #272727 !important;
  padding: 3px 20px !important;
  font-family: "Rubik" !important;
  font-size: 15px !important;
  border: 1.5px solid #f4da47 !important;
}
.nobtn {
  background: #fff !important;
  color: #f4da47 !important;
  padding: 3px 20px !important;
  font-family: "Rubik" !important;
  font-size: 15px !important;
  border: 1.5px solid #f4da47 !important;
}
