.newuser {
  text-align: end;
  padding-top: 42px;
}

.newuser > p {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #3f3f3f;
  margin: 0;
}

.Logodiv > h5 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.Logodiv > p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.form {
  width: 329px;
  margin: auto;
}
.forgot {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #00a1ff;
  text-decoration: none;
  border: none !important;
  background: transparent;
  padding: 0 !important;
}

.forgot:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #00a1ff !important;
  text-decoration: none;
}

.forgot:focus-visible {
  outline: none !important;
}

.Formlabel {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

::placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}

.checkdiv > label {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3f3f3f;
}

#InputEmail {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;
}

.footers {
  width: 329px;
  margin: auto;
}

.flexdiv {
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-height: 100vh;
  gap: 25px;
}

.goback {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #00a1ff;
  width: 100%;
  margin: 10px 0px !important;
  padding: 13px;
  background: transparent;
  border: 1px solid #00a1ff;
  border-radius: 6px;
  display: block;
  text-align: center;
  text-decoration: none !important;
}
.loginbtn {
  background: #00a1ff !important;
  border-radius: 6px;
  padding: 10px !important;
  font-weight: 500;
  font-size: 16px;
  color: #fff !important;
  border: none !important;
  width: 100%;
  margin: 0px 0px 20px 0px;
}

.loginbtn:hover {
  color: #000;
}
.maindiv {
  background: #fff !important;
}
.recaptcha {
  transform: scale(0.77);
  -webkit-transform: scale(1.08);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  margin-top: 10px;
}
.gobacklink {
  text-decoration: none;
}
@media (max-width: 500px) {
  .form {
    padding-top: 40px;
  }
}
@media (max-width: 400px) {
  .form {
    width: 300px;
    padding-top: 50px;
  }
}