.mainDiv {
  width: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subDiv {
  min-width: 700px;
  padding: 10px;
  border-radius: 5px;
}
.subDiv>h4{
  font-weight: bold;
}

.package {
  margin-top: 20px;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.addanother {
  margin-bottom: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 5px 20px;
  color: #fff;
  border: 2px solid #00a1ff;
  background: #00a1ff;
}
.addanother:hover {
  color: #00a1ff;
  border: none;
  background: transparent;
  border: 2px solid #00a1ff;
}
.addTicketBtn {
  margin-bottom: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 5px 20px;
  color: #00a1ff;
  border: 2px solid #00a1ff;
}
.addTicketBtn:hover {
  background: #00a1ff;
  color: #fff;
  border: none;
  border: 2px solid #fff;
}
.timediv{
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.timediv>div{
  width: 50%;
}
.optionaltxt{
  font-size: 13px;
  color: #a8a8a8;
}