@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
.errormsg,
.error {
  color: red;
  margin-bottom: 0 !important;
}
#root {
  width: 100%;
}
.MuiDataGrid-root {
  background-color: #fff;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
::placeholder,
div {
  cursor: context-menu;
  font-family: "Rubik" !important;
  color: #000;
}
.MuiIconButton-sizeSmall,
.MuiDataGrid-iconSeparator {
  display: none !important;
}
.masterlogo {
  width: 200px !important;
}
.MuiDataGrid-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50px !important;
  text-align: center !important;
  padding: 10px !important;
}
.MuiDialogContent-root {
  padding: 0 !important;
}

.MuiDataGrid-columnHeaderTitleContainer,
.MuiDataGrid-cell--textLeft {
  justify-content: center !important;
}
.togglebtn > .Mui-selected {
  background: #000 !important;
  color: #fff !important;
  border-radius: 5px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  height: 2.5px !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  height: 2.5px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 2.5px !important;
}
.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}
@media (max-width: 500px) {
  .MuiDrawer-paper {
    width: 350px;
  }
}
.MuiDataGrid-virtualScroller {
  overflow: unset;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}