.countrydiv {
  background: #fff;
  width: 100%;
  position: relative;
  padding: 30px;
  min-height: 100vh;
  padding-top: 70px;
}

.headingdiv {
  display: flex;
  justify-content: space-between;
}

.titlediv {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttondiv {
  display: flex;
  gap: 20px;
  width: 50%;
  justify-content: right;
}

.button {
  background: #f4da47;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  color: #272727;
  padding: 2px 20px !important;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 0px;
}

/* -------Add Country ----------- */
.addDiv {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.addDivHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addDivHeading > h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

.addDivHeading > button {
  background: transparent;
  color: #d9d9d9;
  border: none;
  padding: 0px !important;
  font-size: 24px;
  line-height: 28px;
}

.formlabel {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

.formcontrol {
  width: 100%;
  padding: 10px !important;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
}

.nodatafound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formcontrol:focus {
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

.savebtn {
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  color: #00a1ff;
  width: 100%;
  text-align: center;
  border: 2px solid #00a1ff;
  outline: none;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 10px !important;
  border-radius: 5px;
}
.savebtn:hover {
  background: #00a1ff;
  color: #fff;
  border: none;
  border: 2px solid #fff;
}
.grpbtn {
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  color: #00a1ff;
  text-align: center;
  border: 2px solid #00a1ff;
  outline: none;
  font-weight: bold;
  padding: 10px !important;
  border-radius: 5px;
}
.grpbtn:hover {
  background: #00a1ff;
  color: #fff;
  border: none;
  border: 2px solid #fff;
}

.icon {
  padding: 0 !important;
}

.searchdiv {
  width: 100%;
  display: flex;
  padding-top: 20px;
}

.formcontrol option {
  text-transform: capitalize;
}

.searchbox {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #d9d9d9 !important;
  background: #fff;
  border-radius: 5px;
  padding-left: 15px !important;
  font-size: 16px;
  padding: 10px;
}

.selectbox {
  width: 25%;
  border: 1px solid #d9d9d9 !important;
  background: #fff;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.selectbox > div {
  display: flex;
  justify-content: space-around !important;
  width: 90%;
}

.selectbox > h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 35%;
  margin-bottom: 0 !important;
}

.searchbox > input {
  border: none !important;
  width: 85%;
  outline: none;
  background-color: transparent !important;
}

.selectcontrol {
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
  outline: none;
}

.selectcontrol:focus {
  box-shadow: none;
}

.togglebtn > .Mui-selected {
  background: #000 !important;
  color: #fff !important;
  border-radius: 5px !important;
}

.togglechildbtn {
  padding: 10px !important;
}

.portalign {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.addtitle {
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  margin-bottom: 0 !important;
}

.scheduleid {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-bottom: 0 !important;
}

::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}

.editicon {
  color: #f4da47;
  font-size: 20px;
}

.addLaneSelect {
  text-transform: capitalize !important;
}
.laneDropdown {
  text-transform: capitalize;
}

.menuitem {
  text-transform: capitalize !important;
  width: 200px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
@media (max-width: 1200px) {
  .selectbox > h4 {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .searchdiv,
  .headingdiv {
    flex-direction: column;
    gap: 5px;
    padding-top: 10px !important;
  }
  .searchbox {
    width: 100%;
    border-radius: 5px;
  }
  .selectbox {
    width: 100%;
    border-radius: 5px;
    padding: 6px 10px !important;
  }
  .buttondiv {
    gap: 0 !important;
    width: 100%;
    justify-content: flex-start;
  }
  .button {
    width: 100%;
    padding: 5px !important;
  }
  .title {
    font-size: 30px;
  }
  .titlediv {
    width: 100%;
  }
  .selectbox {
    flex-direction: column;
    width: 100%;
  }
  .selectbox > div {
    width: 100%;
  }
  .selectbox > h4 {
    width: 100%;
  }
}
.selectuser {
  border: none !important;
  outline: none !important;
}
.editbtn {
  background-color: transparent;
  font-weight: bold;
  color: #00a1ff;
  border: 2px solid #00a1ff;
  border-radius: 5px;
  padding: 2px 15px;
}
.assignedUserdiv {
  display: flex;
  gap: 3px;
  background: #e9f7ff80;
  width: 100%;
  /* margin-top: 10px; */
  border-radius: 5px;
  padding: 10px;
  justify-content: space-between;
}
.assignedUserdiv > p {
  margin-bottom: 0;
  color: #000;
  text-transform: capitalize;
}
.assignedUserdiv > a {
  margin-bottom: 0;
  color: #00a1ff;
}
.assignedUserdiv > button {
  background: transparent;
  border: none;
  outline: none;
}
@media (max-width: 500px) {
  .dataGrid {
    width: 700px !important;
  }
  .girdoverflow {
    overflow-x: scroll;
  }
}
