.mainDiv {
  padding-top: 70px;
}
.mainDiv > h3 {
  font-weight: bold;
}
.editBtn {
  border-radius: 5px;
  color: #fff;
  background-color: #B100FF;
  border: none;
  padding: 5px 10px !important;
  font-weight: bold;
}
.editBtn:disabled{
  cursor: not-allowed;
}
.subDiv {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}
.subDiv>h3{
  font-weight: bold;
}
.attachement {
  margin: 2em;
  color: red;
}

.searchDiv{
  display: flex;
  align-items: center;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.searchInput{
  margin: 10px;
  width: 100%;
  border: none !important;
  outline: none;
}

.countrydiv {
  background: rgba(30, 106, 255, 0.1);
  width: 100%;
  position: relative;
  padding: 30px;
  min-height: 100vh;
}

.headingdiv {
  display: flex;
  justify-content: space-between;
}

.titlediv {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttondiv {
  display: flex;
  gap: 20px;
  width: 50%;
  justify-content: right;
}
.addTicketBtn {
  margin-top: 1em;
  margin-bottom: 10px;
  background: transparent;
  border-radius: 4px;
  border: 2px solid #B100FF;
  font-weight: 500;
  font-size: 17px;
  color: #B100FF;
}

.button {
  background: #f4da47;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  color: #272727;
  padding: 2px 20px !important;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 0px;
}

/* -------Add Country ----------- */
.addDiv {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.addDivHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addDivHeading > h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

.addDivHeading > button {
  background: transparent;
  color: #d9d9d9;
  border: none;
  padding: 0px !important;
  font-size: 24px;
  line-height: 28px;
}

.formlabel {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

.formcontrol {
  width: 100%;
  padding: 10px !important;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
}

.formcontrol:focus {
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

.error {
  color: red;
  font-size: 14px;
}

.savebtn {
  background: #f3cf00;
  font-weight: 500;
  font-size: 16px;
  color: #272727;
  box-shadow: 0px 4px 16px rgba(243, 207, 0, 0.2);
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 10px !important;
  border-radius: 5px;
}

.icon {
  padding: 0 !important;
}

.searchdiv {
  width: 100%;
  display: flex;
  padding-top: 20px;
}

.formcontrol option {
  text-transform: capitalize;
}

.searchbox {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid #d9d9d9 !important;
  background: #fff;
  border-radius: 5px 0px 0px 5px;
  padding-left: 15px !important;
}

.selectbox {
  width: 60%;
  border: 1px solid #d9d9d9 !important;
  background: #fff;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.selectbox > div {
  display: flex;
  justify-content: space-around !important;
  width: 90%;
}

.selectbox > h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 15%;
  margin-bottom: 0 !important;
}

.searchbox > input {
  border: none !important;
  width: 85%;
  outline: none;
  background-color: transparent !important;
}

.selectcontrol {
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
  outline: none;
}

.selectcontrol:focus {
  box-shadow: none;
}

.togglebtn > .Mui-selected {
  background: #000 !important;
  color: #fff !important;
  border-radius: 5px !important;
}

.togglechildbtn {
  padding: 10px !important;
}

.portalign {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.addtitle {
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  margin-bottom: 0 !important;
}

.scheduleid {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-bottom: 0 !important;
}

::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}

.editicon {
  color: #f4da47;
  font-size: 20px;
}

.filecontainer {
  display: flex;
  gap: 3px;
}

.addLaneSelect {
  text-transform: capitalize !important;
}
.laneDropdown {
  text-transform: capitalize;
}

.menuitem {
  text-transform: capitalize !important;
  width: 200px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
@media (max-width: 1200px) {
  .selectbox > h4 {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .searchdiv,
  .headingdiv {
    flex-direction: column;
    gap: 5px;
    padding-top: 10px !important;
  }
  .searchbox {
    width: 100%;
    border-radius: 5px;
  }
  .selectbox {
    width: 100%;
    border-radius: 5px;
    padding: 6px 10px !important;
  }
  .buttondiv {
    gap: 0 !important;
    width: 100%;
    justify-content: flex-start;
  }
  .button {
    width: 100%;
    padding: 5px !important;
  }
  .title {
    font-size: 30px;
  }
  .titlediv {
    width: 100%;
  }
  .selectbox {
    flex-direction: column;
    width: 100%;
  }
  .selectbox > div {
    width: 100%;
  }
  .selectbox > h4 {
    width: 100%;
  }
}
.nogroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 200px;
}
@media (max-width: 500px) {
  .mainDiv {
    padding-top: 70px;
  }
  .nogroup {
    align-items: baseline;
    height: auto;
  }
  .dataGrid {
    width: 700px !important;
  }
  .girdoverflow {
    overflow-x: scroll;
  }
}
